<a href="https://colab.research.google.com/github/louisecastrof/PySpark/blob/main/Pyspark_getting_started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Getting started with installation and context

In [2]:
# As I am using Colab research, this cell needs to be executed every beginning of the session

%pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 23.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=6ca2157cfb5c24519ca19f745f61ce1f2b76369554ecf20859dda91b766fc0de
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
# Importing the package to start a Spark Session
from pyspark.sql import SparkSession

# Starting the Spark context
sc = SparkSession.builder.master('local[*]').getOrCreate()

# Checking if the context was successfully created
sc

In [4]:
#https://spark.apache.org/docs/latest/sql-getting-started.html
spark = SparkSession \
        .builder \
        .appName("firstSpark") \
        .getOrCreate()

## Loading From CSV

There are two ways of handling the data types for each of the columns of our CSV. We can use:

> "inferSchema = True"


And it will automatically get the types and columns, but it is more computationally expensive. If we want to make it lighter, we could use:

> "schema=StructType(...)" 

And mention the types one by one, though lighter it is proner to human mistakes. Since today we'll be using a very light CSV file, we'll go with the first option.

In [13]:
# Creating a function to return the df, then loading the data with the schema inferred:
def load_dataframe(filename):
    df = spark.read.format('csv').options(header='true', inferSchema='true').load(filename)
    return df

df = load_dataframe('sample_data/Matches.csv')
df.limit(5).show()

+--------+---+------+-------------------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|               Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+-------------------+-------------+--------------+----+----+---+

In [14]:
# Count the number of rows of the df
df.count()

24625

In [15]:
# Checking the types of the data of each column
df.dtypes

[('Match_ID', 'int'),
 ('Div', 'string'),
 ('Season', 'int'),
 ('Date', 'timestamp'),
 ('HomeTeam', 'string'),
 ('AwayTeam', 'string'),
 ('FTHG', 'int'),
 ('FTAG', 'int'),
 ('FTR', 'string')]

In [16]:
# Ugly way of taking a look at the first five rows
df.take(5)

[Row(Match_ID=1, Div='D2', Season=2009, Date=datetime.datetime(2010, 4, 4, 0, 0), HomeTeam='Oberhausen', AwayTeam='Kaiserslautern', FTHG=2, FTAG=1, FTR='H'),
 Row(Match_ID=2, Div='D2', Season=2009, Date=datetime.datetime(2009, 11, 1, 0, 0), HomeTeam='Munich 1860', AwayTeam='Kaiserslautern', FTHG=0, FTAG=1, FTR='A'),
 Row(Match_ID=3, Div='D2', Season=2009, Date=datetime.datetime(2009, 10, 4, 0, 0), HomeTeam='Frankfurt FSV', AwayTeam='Kaiserslautern', FTHG=1, FTAG=1, FTR='D'),
 Row(Match_ID=4, Div='D2', Season=2009, Date=datetime.datetime(2010, 2, 21, 0, 0), HomeTeam='Frankfurt FSV', AwayTeam='Karlsruhe', FTHG=2, FTAG=1, FTR='H'),
 Row(Match_ID=5, Div='D2', Season=2009, Date=datetime.datetime(2009, 12, 6, 0, 0), HomeTeam='Ahlen', AwayTeam='Karlsruhe', FTHG=1, FTAG=3, FTR='A')]

In [17]:
# Beautiful way of doing so
df.limit(5).show()

+--------+---+------+-------------------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|               Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+-------------------+-------------+--------------+----+----+---+

In [18]:
# Even more beautiful but with Pandas
df.limit(5).toPandas()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

# Selecting & Renaming Columns

In [19]:
# Renaming columns with withColumnRenamed('oldname', 'newname')

df_lim = df.withColumnRenamed('Div','Division').withColumnRenamed('FTHG','HomeTeamGoals').withColumnRenamed('FTAG', 'AwayTeamGoals').withColumnRenamed('FTR', 'FinalResult')
df_lim.limit(5).show()

+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+
|Match_ID|Division|Season|               Date|     HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+
|       1|      D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|            2|            1|          H|
|       2|      D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|            0|            1|          A|
|       3|      D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|            1|            1|          D|
|       4|      D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|            2|            1|          H|
|       5|      D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|            1|            3|          A|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+

In [20]:
# We could also rename several columns in a loop with two lists of dictionary

df_lim2 = df
old_names = df_lim2.columns
new_names = ["Match_ID", "Division", "Season", "Date", "HomeTeam", "AwayTeam", "HomeTeamGoals", "AwayTeamGoals",  "FinalResult"]
old_new_cols = [*zip(old_names, new_names)]
for old, new in old_new_cols:
    df_lim2 = df_lim2.withColumnRenamed(old, new)

df_lim2.limit(5).show()

+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+
|Match_ID|Division|Season|               Date|     HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+
|       1|      D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|            2|            1|          H|
|       2|      D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|            0|            1|          A|
|       3|      D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|            1|            1|          D|
|       4|      D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|            2|            1|          H|
|       5|      D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|            1|            3|          A|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+

## Saving to local path

In [21]:
#Find out which type of data is 
print(type(df_lim2))

<class 'pyspark.sql.dataframe.DataFrame'>

In [22]:
# Create a csv file and save the df to it (couldn't find a way of doint it in Spark)
t = open('sample_data/Matches_format.csv', 'w')

df_lim2.toPandas().to_csv("sample_data/Matches_format.csv")

In [71]:
# Delete folder (no matter if there's something inside)
# import shutil

# shutil.rmtree('Matchezs.csv')

In [24]:
# Read from csv
df_format = spark.read.csv('sample_data/Matches_format.csv', header = True, inferSchema='true')
df_format

DataFrame[_c0: int, Match_ID: int, Division: string, Season: int, Date: timestamp, HomeTeam: string, AwayTeam: string, HomeTeamGoals: int, AwayTeamGoals: int, FinalResult: string]

## PySpark exercises - join, convert, create and drop columns

In [25]:
# Joining two columns - obs: lit() to add space between the value of the columns
from pyspark.sql.functions import *
from pyspark.sql.types import *

df_format = df_format.withColumn('Home_Away', concat(df_format.HomeTeam , lit(' ') , df_format.AwayTeam))
# df_format.show()

In [26]:
# Showing the type of data inside each column
# df_format.dtypes
# Changing the type of the columns
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType

df_format = df_format.withColumn("HomeTeamGoals",col("HomeTeamGoals").cast(StringType())) \
    .withColumn("AwayTeamGoals",col("AwayTeamGoals").cast(StringType()))
df_format.printSchema()
# df_format.show()

root
 |-- _c0: integer (nullable = true)
 |-- Match_ID: integer (nullable = true)
 |-- Division: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- HomeTeam: string (nullable = true)
 |-- AwayTeam: string (nullable = true)
 |-- HomeTeamGoals: string (nullable = true)
 |-- AwayTeamGoals: string (nullable = true)
 |-- FinalResult: string (nullable = true)
 |-- Home_Away: string (nullable = true)

In [27]:
# Drop the first column
df_format = df_format.drop('_c0')
# df_format.show()

In [28]:
# Create new column with different type (removing time)
df_format = df_format.withColumn('New_Date', col('Date').cast(DateType()))

In [29]:
# Converting date to brazilian format
df_format = df_format.withColumn("New_Date", date_format(df_format.New_Date,"dd/MM/yyy"))

In [30]:
df_format.show()

+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+
|Match_ID|Division|Season|               Date|          HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|           Home_Away|  New_Date|
+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+
|       1|      D2|  2009|2010-04-04 00:00:00|        Oberhausen|Kaiserslautern|            2|            1|          H|Oberhausen Kaiser...|04/04/2010|
|       2|      D2|  2009|2009-11-01 00:00:00|       Munich 1860|Kaiserslautern|            0|            1|          A|Munich 1860 Kaise...|01/11/2009|
|       3|      D2|  2009|2009-10-04 00:00:00|     Frankfurt FSV|Kaiserslautern|            1|            1|          D|Frankfurt FSV Kai...|04/10/2009|
|       4|      D2|  2009|2010-02-21 00:00:00|     Frankfurt FSV|     Karlsruhe|            2|            1|          H|Frankfurt FSV Kar...|21/02/2010|
|       5|      D2|  2009|2009-12-06 00:00:00|             Ahlen|     Karlsruhe|            1|            3|          A|     Ahlen Karlsruhe|06/12/2009|
|       6|      D2|  2009|2010-04-03 00:00:00|      Union Berlin|     Karlsruhe|            1|            1|          D|Union Berlin Karl...|03/04/2010|
|       7|      D2|  2009|2009-08-14 00:00:00|         Paderborn|     Karlsruhe|            2|            0|          H| Paderborn Karlsruhe|14/08/2009|
|       8|      D2|  2009|2010-03-08 00:00:00|         Bielefeld|     Karlsruhe|            0|            1|          A| Bielefeld Karlsruhe|08/03/2010|
|       9|      D2|  2009|2009-09-26 00:00:00|    Kaiserslautern|     Karlsruhe|            2|            0|          H|Kaiserslautern Ka...|26/09/2009|
|      10|      D2|  2009|2009-11-21 00:00:00|     Hansa Rostock|     Karlsruhe|            2|            1|          H|Hansa Rostock Kar...|21/11/2009|
|      11|      D2|  2009|2009-12-19 00:00:00|    Greuther Furth|     Karlsruhe|            1|            4|          A|Greuther Furth Ka...|19/12/2009|
|      12|      D2|  2009|2010-04-16 00:00:00|           Koblenz|     Karlsruhe|            2|            2|          D|   Koblenz Karlsruhe|16/04/2010|
|      13|      D2|  2009|2010-03-21 00:00:00|        Oberhausen|     Karlsruhe|            1|            0|          H|Oberhausen Karlsruhe|21/03/2010|
|      14|      D2|  2009|2009-09-14 00:00:00|           Cottbus|     Karlsruhe|            2|            4|          A|   Cottbus Karlsruhe|14/09/2009|
|      15|      D2|  2009|2010-05-02 00:00:00|          Duisburg|     Karlsruhe|            0|            1|          A|  Duisburg Karlsruhe|02/05/2010|
|      16|      D2|  2009|2009-10-30 00:00:00|Fortuna Dusseldorf|     Karlsruhe|            1|            0|          H|Fortuna Dusseldor...|30/10/2009|
|      17|      D2|  2009|2010-01-15 00:00:00|            Aachen|     Karlsruhe|            3|            1|          H|    Aachen Karlsruhe|15/01/2010|
|      18|      D2|  2009|2009-10-18 00:00:00|          Augsburg|     Karlsruhe|            1|            1|          D|  Augsburg Karlsruhe|18/10/2009|
|      19|      D2|  2009|2010-02-05 00:00:00|          St Pauli|     Karlsruhe|            2|            1|          H|  St Pauli Karlsruhe|05/02/2010|
|      20|      D2|  2009|2009-08-24 00:00:00|       Munich 1860|     Karlsruhe|            1|            3|          A|Munich 1860 Karls...|24/08/2009|
+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+
only showing top 20 rows

In [31]:
df_format.count()

24625

## Creating temp view to use SQL

In [32]:
#Creating a Temporary view to be queried with SQL
df_format.createOrReplaceTempView("Matches")

In [69]:
# Using SQL to select
spark.sql("SELECT Division, New_Date FROM Matches") \
     .show(5)

+--------+----------+
|Division|  New_Date|
+--------+----------+
|      D2|04/04/2010|
|      D2|01/11/2009|
|      D2|04/10/2009|
|      D2|21/02/2010|
|      D2|06/12/2009|
+--------+----------+
only showing top 5 rows

## PySpark exercises 2 - joins

In [34]:
# Creating temp view of a different table
df2 = spark.read.format('csv').options(header='true', inferSchema='true').load('sample_data/Matches_2.csv')

In [65]:
# Joining two dataframes
new_combined_table =  \
df_format.join(df2,df_format.Match_ID == df2.Match_ID, 'inner') \
.select(df_format.Match_ID, df_format.Division, df_format.Season, df_format.Date, df_format.HomeTeam, \
        df_format.AwayTeam, df_format.HomeTeamGoals, df_format.AwayTeamGoals, df_format.FinalResult, \
        df_format.Home_Away, df_format.New_Date, \
        df2.Best_Player, df2.Next_Games, df2.Already_Played)

In [70]:
# Viewing new joined table
new_combined_table.show()
# Creating Temp View to query with SQL
new_combined_table.createOrReplaceTempView("New_Combined_Table")
# Selecting with where
spark.sql("SELECT * FROM New_Combined_Table where AwayTeam = 'Kaiserslautern' ").show(5)

+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+--------------+----------+--------------+
|Match_ID|Division|Season|               Date|          HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|           Home_Away|  New_Date|   Best_Player|Next_Games|Already_Played|
+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+--------------+----------+--------------+
|       1|      D2|  2009|2010-04-04 00:00:00|        Oberhausen|Kaiserslautern|            2|            1|          H|Oberhausen Kaiser...|04/04/2010|    Joann Long|         2|             1|
|       2|      D2|  2009|2009-11-01 00:00:00|       Munich 1860|Kaiserslautern|            0|            1|          A|Munich 1860 Kaise...|01/11/2009|  Felipe Lynch|         0|             1|
|       3|      D2|  2009|2009-10-04 00:00:00|     Frankfurt FSV|Kaiserslautern|            1|            1|          D|Frankfurt FSV Kai...|04/10/2009|   Misty Blair|         1|             1|
|       4|      D2|  2009|2010-02-21 00:00:00|     Frankfurt FSV|     Karlsruhe|            2|            1|          H|Frankfurt FSV Kar...|21/02/2010|  Kelly Valdez|         2|             1|
|       5|      D2|  2009|2009-12-06 00:00:00|             Ahlen|     Karlsruhe|            1|            3|          A|     Ahlen Karlsruhe|06/12/2009|   Vicky Watts|         1|             3|
|       6|      D2|  2009|2010-04-03 00:00:00|      Union Berlin|     Karlsruhe|            1|            1|          D|Union Berlin Karl...|03/04/2010|    Roy Holmes|         1|             1|
|       7|      D2|  2009|2009-08-14 00:00:00|         Paderborn|     Karlsruhe|            2|            0|          H| Paderborn Karlsruhe|14/08/2009|   Oscar Hayes|         2|             0|
|       8|      D2|  2009|2010-03-08 00:00:00|         Bielefeld|     Karlsruhe|            0|            1|          A| Bielefeld Karlsruhe|08/03/2010|Henrietta King|         0|             1|
|       9|      D2|  2009|2009-09-26 00:00:00|    Kaiserslautern|     Karlsruhe|            2|            0|          H|Kaiserslautern Ka...|26/09/2009| Francis Jones|         2|             0|
|      10|      D2|  2009|2009-11-21 00:00:00|     Hansa Rostock|     Karlsruhe|            2|            1|          H|Hansa Rostock Kar...|21/11/2009|   Kevin Terry|         2|             1|
|      11|      D2|  2009|2009-12-19 00:00:00|    Greuther Furth|     Karlsruhe|            1|            4|          A|Greuther Furth Ka...|19/12/2009|    Dean Moore|         1|             4|
|      12|      D2|  2009|2010-04-16 00:00:00|           Koblenz|     Karlsruhe|            2|            2|          D|   Koblenz Karlsruhe|16/04/2010| Joanna Benson|         2|             2|
|      13|      D2|  2009|2010-03-21 00:00:00|        Oberhausen|     Karlsruhe|            1|            0|          H|Oberhausen Karlsruhe|21/03/2010| Rickey Willis|         1|             0|
|      14|      D2|  2009|2009-09-14 00:00:00|           Cottbus|     Karlsruhe|            2|            4|          A|   Cottbus Karlsruhe|14/09/2009| Lance Hawkins|         2|             4|
|      15|      D2|  2009|2010-05-02 00:00:00|          Duisburg|     Karlsruhe|            0|            1|          A|  Duisburg Karlsruhe|02/05/2010|  Dallas Munoz|         0|             1|
|      16|      D2|  2009|2009-10-30 00:00:00|Fortuna Dusseldorf|     Karlsruhe|            1|            0|          H|Fortuna Dusseldor...|30/10/2009|  Annie Lawson|         1|             0|
|      17|      D2|  2009|2010-01-15 00:00:00|            Aachen|     Karlsruhe|            3|            1|          H|    Aachen Karlsruhe|15/01/2010|   Lee Ballard|         3|             1|
|      18|      D2|  2009|2009-10-18 00:00:00|          Augsburg|     Karlsruhe|            1|            1|          D|  Augsburg Karlsruhe|18/10/2009|   Jeremy Gill|         1|             1|
|      19|      D2|  2009|2010-02-05 00:00:00|          St Pauli|     Karlsruhe|            2|            1|          H|  St Pauli Karlsruhe|05/02/2010|  Debra Morton|         2|             1|
|      20|      D2|  2009|2009-08-24 00:00:00|       Munich 1860|     Karlsruhe|            1|            3|          A|Munich 1860 Karls...|24/08/2009| Edna Jennings|         1|             3|
+--------+--------+------+-------------------+------------------+--------------+-------------+-------------+-----------+--------------------+----------+--------------+----------+--------------+
only showing top 20 rows

+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+--------------------+----------+------------+----------+--------------+
|Match_ID|Division|Season|               Date|     HomeTeam|      AwayTeam|HomeTeamGoals|AwayTeamGoals|FinalResult|           Home_Away|  New_Date| Best_Player|Next_Games|Already_Played|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+--------------------+----------+------------+----------+--------------+
|       1|      D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|            2|            1|          H|Oberhausen Kaiser...|04/04/2010|  Joann Long|         2|             1|
|       2|      D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|            0|            1|          A|Munich 1860 Kaise...|01/11/2009|Felipe Lynch|         0|             1|
|       3|      D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|            1|            1|          D|Frankfurt FSV Kai...|04/10/2009| Misty Blair|         1|             1|
+--------+--------+------+-------------------+-------------+--------------+-------------+-------------+-----------+--------------------+----------+------------+----------+--------------+